<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
  <link rel="stylesheet" href="/styles/right-section.css" />
  <link href="/your-path-to-fontawesome/css/fontawesome.css" rel="stylesheet" />
  <link rel="stylesheet" href="house.css" />
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <link rel="stylesheet" href="/styles/right-section.css" />
  <title>Order page</title>

  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    .ordering {
      max-width: 650px;
      margin: 20px auto;
      padding: 7px;
      background-color: #ccc;
      border-radius: 10px;
    }

    .ordering label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
    }

    input,
    textarea {
      width: 95%;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    .ordering button {
      padding: 10px;
      background-color: #4caf50;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    .cart-item {
      max-width: 1000px;
      margin: auto;
    }

    .cart-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 15px;
      border-bottom: 1px solid #ccc;
      background: #eeeeee;
      padding-bottom: 10px;

      img {
        width: 70px;
        height: 70px;
        object-fit: contain;
      }
    }

    .quantity-btn {
      background-color: #ffcc00;
      color: #333;
      padding: 5px;
      border: none;
      border-radius: 3px;
      margin-right: 5px;
      cursor: pointer;
      font-size: 14px;
      width: 25px;

      &:hover {
        background-color: #e6b800;
      }
    }

    .remove-btn {
      width: 25px;
      background-color: #ff6666;
      color: #fff;
      padding: 5px;
      border: none;
      border-radius: 3px;
      cursor: pointer;
      font-size: 14px;
      margin-right: 20px;

      &:hover {
        background-color: #ff3333;
      }
    }

    .place-order {
      padding: 10px;
      box-sizing: border-box;
      background-color: #4caf50;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        background-color: #45a049;
      }

    }

    #price {
      position: absolute;
      left: 110px;
      bottom: 35px;
    }

    .imogi {
      margin-left: 20px;
    }

    .border {
      border: 2px rgb(142, 142, 142) solid;
      border-radius: 10px;
      padding: 15px;
    }

    @media(max-width:500px) {
      #price {
        bottom: 10px;
      }

      .remove-btn {
        margin-right: 0;
      }

      .imogi {
        margin-left: 0;
      }
    }
  </style>
</head>

<body>

  <%- include('./components/header') %>
  <% if(locals.messege && locals.messege.length){ %>
  <div class="pop-up-container" id="popupContainer">
    <div class="pop-up-content">
      <%= messege %>
    </div>
  </div>

  <%}%>
 
                <div class="cart-inside" style="margin: 25px">
                    <% for(obj of User.cart_items){ %>
  <div class="cart-item" id="<%= obj.item._id %>" style="position: relative">
    <img class="imogi" src="<%= (obj.item.material[0])?obj.item.material[0]:`uploads/fixed_images/food-logo.png` %>" alt="Product 1" />
    <div class="cart-item-info" style="font-weight: bold">
      <p>
        <%= obj.item.name %>
      </p>
      <span id="price">₹<%= obj.item.price %></span>
    </div>
    <div class="cart-item-actions">
      <button class="quantity-btn">-</button>
      <span id="quantity">
        <%= obj.quantity %>
      </span>
      <button class="quantity-btn">+</button>

      <button class="remove-btn" id="remove">X</button>
    </div>
  </div>
  <%}%>
                </div>
                <h2 class="total amount" style="text-align:center">
                    <span>---YOUR TOTAL : ₹ </span>
                    <span id="num">
                        <%= locals.sum %>
  </span>---
  </h2>
  <form class="ordering" action="/order_place" method="post" style="background: #ccc; box-shadow: 0 0 12px 1px rgba(0, 0, 0,.5)">
    <div class="border">
      <h2>Food Ordering Form</h2>
      <hr>
      <label for="mobileNumber">Mobile Number:</label>
      <input type="text" id="mobileNumber" name="mobileNumber" placeholder="Enter your mobile number" value="+91 <%=User.phone.substring(User.phone.length-10)%>" required />

      <label for="deliveryAddress">Delivery Address:</label>
      <textarea id="deliveryAddress" name="deliveryAddress" placeholder="Enter your delivery address" rows="4" required>
<%=User.address%></textarea>

      <!-- Add additional fields for food selection, quantity, etc., as needed -->

      <button style="width: 100%" type="submit">Place Order</button>
    </div>

  </form>
  <div style="height: 94px;"></div>
  <%- include('./components/footer') %>
  <style>
    #notification-box {
      position: fixed;
      bottom: 20px;
      right: 20px;
      width: 300px;
      backdrop-filter: blur(3px);
      border-radius: 20px;
      max-height: 300px;
      overflow-y: auto;
      z-index: 20;
    }
  </style>
  <div id="notification-box"></div>

  <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
  <script src="notification.js"></script>
</body>
<script>
  // Automatically hide the pop-up after 3 seconds
  setTimeout(function() {
    var popupContainer = document.getElementById("popupContainer");
    if (popupContainer) {
      popupContainer.style.background =
        popupContainer.innerText == "MOBILE Number is 📵 not\n linked with what's-app" ?
        "rgb(220, 72, 72)" :
        "rgb(230, 200, 255)";
      popupContainer.style.opacity = "0";
      setTimeout(function() {
        popupContainer.style.display = "none";
      }, 4000); // Additional delay for animation completion
    }
  }, 500);
</script>
<script type="module" src="cart.js"></script>
<script type="module" src="add-item.js"></script>

</html>